<a href="https://colab.research.google.com/github/saiprasannasri/cleaned_data_task5/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.read_csv("/content/tested.csv")
print(df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
 11  Deck         91 non-null     object
dtypes: float64(2), int64(4), object(6)
memory usage: 39.3+ KB

In [12]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [20]:
df['Fare'] = df['Fare'].fillna(df['Fare'].median())

In [18]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [27]:
df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         0
Deck           327
dtype: int64

In [22]:
df.drop(columns=['Survived'], inplace=True)

In [24]:
df['Deck'] = df['Cabin'].str[0]

In [26]:
df.drop(columns=['Cabin'], inplace=True)

In [32]:
df.drop_duplicates(subset="PassengerId",inplace=True)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    object
 7   Fare         418 non-null    float64
 8   Sex_male     418 non-null    bool
 9   Embarked_Q   418 non-null    bool
 10  Embarked_S   418 non-null    bool
 11  Deck_B       418 non-null    bool
 12  Deck_C       418 non-null    bool
 13  Deck_D       418 non-null    bool
 14  Deck_E       418 non-null    bool
 15  Deck_F       418 non-null    bool
 16  Deck_G       418 non-null    bool
dtypes: bool(9), float64(2), int64(4), object(2)
memory usage: 29.9+ KB

In [36]:
df.head(50)

,PassengerId,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Sex_male,Embarked_Q,Embarked_S,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G
0,892,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,True,True,False,False,False,False,False,False,False
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,False,False,True,False,False,False,False,False,False
2,894,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,True,True,False,False,False,False,False,False,False
3,895,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,True,False,True,False,False,False,False,False,False
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,False,False,True,False,False,False,False,False,False
5,897,3,"Svensson, Mr. Johan Cervin",14.0,0,0,7538,9.2250,True,False,True,False,False,False,False,False,False
6,898,3,"Connolly, Miss. Kate",30.0,0,0,330972,7.6292,False,True,False,False,False,False,False,False,False
7,899,2,"Caldwell, Mr. Albert Francis",26.0,1,1,248738,29.0000,True,False,True,False,False,False,False,False,False
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",18.0,0,0,2657,7.2292,False,False,False,False,False,False,False,False,False
9,901,3,"Davies, Mr. John Samuel",21.0,2,0,A/4 48871,24.1500,True,False,True,False,False,False,False,False,False
10,902,3,"Ilieff, Mr. Ylio",27.0,0,0,349220,7.8958,True,False,True,False,False,False,False,False,False
11,903,1,"Jones, Mr. Charles Cresson",46.0,0,0,694,26.0000,True,False,True,False,False,False,False,False,False
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",23.0,1,0,21228,82.2667,False,False,True,True,False,False,False,False,False
13,905,2,"Howard, Mr. Benjamin",63.0,1,0,24065,26.0000,True,False,True,False,False,False,False,False,False
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",47.0,1,0,W.E.P. 5734,61.1750,False,False,True,False,False,False,True,False,False
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",24.0,1,0,SC/PARIS 2167,27.7208,False,False,False,False,False,False,False,False,False
16,908,2,"Keane, Mr. Daniel",35.0,0,0,233734,12.3500,True,True,False,False,False,False,False,False,False
17,909,3,"Assaf, Mr. Gerios",21.0,0,0,2692,7.2250,True,False,False,False,False,False,False,False,False
18,910,3,"Ilmakangas, Miss. Ida Livija",27.0,1,0,STON/O2. 3101270,7.9250,False,False,True,False,False,False,False,False,False
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",45.0,0,0,2696,7.2250,False,False,False,False,False,False,False,False,False
20,912,1,"Rothschild, Mr. Martin",55.0,1,0,PC 17603,59.4000,True,False,False,False,False,False,False,False,False
21,913,3,"Olsen, Master. Artur Karl",9.0,0,1,C 17368,3.1708,True,False,True,False,False,False,False,False,False
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",27.0,0,0,PC 17598,31.6833,False,False,True,False,False,False,False,False,False
23,915,1,"Williams, Mr. Richard Norris II",21.0,0,1,PC 17597,61.3792,True,False,False,False,False,False,False,False,False
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",48.0,1,3,PC 17608,262.3750,False,False,False,True,False,False,False,False,False
25,917,3,"Robins, Mr. Alexander A",50.0,1,0,A/5. 3337,14.5000,True,False,True,False,False,False,False,False,False
26,918,1,"Ostby, Miss. Helene Ragnhild",22.0,0,1,113509,61.9792,False,False,False,True,False,False,False,False,False
27,919,3,"Daher, Mr. Shedid",22.5,0,0,2698,7.2250,True,False,False,False,False,False,False,False,False
28,920,1,"Brady, Mr. John Bertram",41.0,0,0,113054,30.5000,True,False,True,False,False,False,False,False,False
29,921,3,"Samaan, Mr. Elias",27.0,2,0,2662,21.6792,True,False,False,False,False,False,False,False,False
30,922,2,"Louch, Mr. Charles Alexander",50.0,1,0,SC/AH 3085,26.0000,True,False,True,False,False,False,False,False,False
31,923,2,"Jefferys, Mr. Clifford Thomas",24.0,2,0,C.A. 31029,31.5000,True,False,True,False,False,False,False,False,False
32,924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",33.0,1,2,C.A. 2315,20.5750,False,False,True,False,False,False,False,False,False
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",27.0,1,2,W./C. 6607,23.4500,False,False,True,False,False,False,False,False,False
34,926,1,"Mock, Mr. Philipp Edmund",30.0,1,0,13236,57.7500,True,False,False,False,True,False,False,False,False
35,927,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",18.5,0,0,2682,7.2292,True,False,False,False,False,False,False,False,False
36,928,3,"Roth, Miss. Sarah A",27.0,0,0,342712,8.0500,False,False,True,False,False,False,False,False,False
37,929,3,"Cacic, Miss. Manda",21.0,0,0,315087,8.6625,False,False,True,False,False,False,False,False,False
38,930,3,"Sap, Mr. Julius",25.0,0,0,345768,9.5000,True,False,True,False,False,False,False,False,False
39,931,3,"Hee, Mr. Ling",27.0,0,0,1601,56.4958,True,False,True,False,False,False,False,False,False
40,932,3,"Karun, Mr. Franz",39.0,0,1,349256,13.4167,True,False,False,False,False,False,False,False,False
41,933,1,"Franklin, Mr. Thomas Parham",27.0,0,0,113778,26.5500,True,False,True,False,False,True,False,False,False
42,934,3,"Goldsmith, Mr. Nathan",41.0,0,0,SOTON/O.Q. 3101263,7.8500,True,False,True,False,False,False,False,False,False
43,935,2,"Corbett, Mrs. Walter H (Irene Colvin)",30.0,0,0,237249,13.0000,False,False,True,False,False,False,False,False,False
44,936,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",45.0,1,0,11753,52.5542,False,False,True,False,False,True,False,False,False
45,937,3,"Peltomaki, Mr. Nikolai Johannes",25.0,0,0,STON/O 2. 3101291,7.9250,True,False,True,False,False,False,False,False,False
46,938,1,"Chevre, Mr. Paul Romaine",45.0,0,0,PC 17594,29.7000,True,False,False,False,False,False,False,False,False
47,939,3,"Shaughnessy, Mr. Patrick",27.0,0,0,370374,7.7500,True,True,False,False,False,False,False,False,False
48,940,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",60.0,0,0,11813,76.2917,False,False,False,False,False,True,False,False,False
49,941,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",36.0,0,2,C.A. 37671,15.9000,False,False,True,False,False,False,False,False,False

In [34]:
df = pd.get_dummies(df, columns=['Sex', 'Embarked', 'Deck'], drop_first=True)

In [38]:
df.to_csv("cleaned data.csv",index=False)

- Loaded the dataset using Pandas and explored its structure using `head()` and `info()`.
- Identified missing values and cleaned them using appropriate methods such as drop, mean/median, and mode.
- Removed duplicate records to maintain data consistency.
- Converted data types and created new columns to improve data usability.
- Saved the cleaned dataset as a CSV file for further analysis and reporting.